<?xml version="1.0" ?>
<launch>
  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    <param name="robot_description" value="/robemoto/robot_manager/robots/vaultbot/robot_description" />
  </node>

  <!-- publish a TF between /map and /odom -->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 10"/>

  <!-- publish a TF between /map and /odom -->
  <node name="static_transform_publisher_2" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world base_link 10"/>
  
</launch>
