<?xml version="1.0" ?>
<launch>
  <!-- start navigation simulation -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find youbot_simpack)/map/maze.yaml"/>

  <!-- start the fake odometry publisher, which provides TF from /odom to /base_footprint and publishes odom messages based on cmd_vel -->
  <node name="fake_odom_publisher" pkg="fake_odom_publisher" type="fake_odom_publisher" respawn="true" output="screen">
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_link" />
  </node>

  <!-- start navigation -->
  <!--include file="$(find husky_navigation)/launch/move_base.launch">
    <arg name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <arg name="base_global_planner" value="navfn/NavfnROS" />
  </include-->

</launch>
