<?xml version="1.0" ?>
<launch>
  <!-- Run the ur5 arm drivers -->
  <include file="$(find vaultbot_drivers)/launch/ur_modern_dual_arm.launch"/>

  <!-- As we do not use nav, fix the base_link statically to the world-->
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world base_link 10"/>

  <node name="left_ee_transform_publisher" pkg="tf" type="static_transform_publisher" args="0.2 0 0 0 0 0 left_ur5_ee_link left_temoto_ee 10"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

</launch>
