<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="${logger} ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find temoto_2)/conf/console.conf" />  

  <group ns="robemoto">
    <node name="algorithm_info_tests" pkg="temoto_2" type="algorithm_info_tests" output="screen" />
  </group>

</launch>
