<!-- Launch the TeMoto Action Assistant, or just use rosrun -->
<launch>

  <!-- Run -->
  <node pkg="temoto_action_assistant" type="temoto_action_assistant" name="temoto_action_assistant"
        output="screen"  required="true" />

  <node pkg="temoto_2" type="ai_package_generator" name="ai_package_generator" output="screen" required="true" />

</launch>
